<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Restaurant Catalog Apps</title>
</head>

<body>
    <a class="skip-link" href='#maincontent'>Skip to content</a>
    <header id="topnav">
        <nav class="nav-container container">
            <a href="/" class="home-link">
                <div class="logo">
                    <img alt="logo" src="images/logo/logo.png">
                </div>
                My Restaurant
            </a>
            <button type="button" class="menu-toggle" aria-label="Open navigation menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-menu">
                <ul class="nav-links">
                    <li class="nav-link"><a href="/">Home</a></li>
                    <li class="nav-link"><a href="#">Favorite</a></li>
                    <li class="nav-link"><a href="https://github.com/profdayat">About</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main id="maincontent">
        <div class="hero" role="img" aria-label="jumbotron" title="jumbotron">
            <div class="hero__inner">
                <h1 class="hero__title">My Restaurant Catalog Apps</h1>
                <p class="hero__tagline">Hallo! This website provides various restaurants from various regions.</p>
            </div>
        </div>

        <h1 align="center">Explore Restaurant</h1>

        <restaurant-list></restaurant-list>
    </main>

    <footer></footer>
</body>

</html>